body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #160356;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 0.5em;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
}

section {
    padding: 20px;
}

footer {
    background-color: #080557;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.project-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.project {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s ease-in-out;
}

.project:hover {
    transform: scale(1.05);
}

.project img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.project-info {
    padding: 10px;
}

#map {
    height: 300px;
    width: 100%;
}

.contact-info {
    margin-top: 20px;
}

.contact-info p {
    margin: 10px 0;
}

.contact-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}
</style>
</head>
<body>